<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Person</title>
    </head>
	<body>
		<div th:with="name=${person!=null}? ${person.getName()}:''">
			<div class="row" th:with="address=${person!=null}?${person.getAddress()}:''">
				
				<div class="column column-6" th:each="error: ${errors}"><span style="color:red" th:text="${error}">ERROR HERE</span></div>
				<!--<c:set var="person" value="${person}"/>
				<c:set var="name" value="${person.getName()}"/>
				<c:set var="address" value="${person.getAddress()}"/>-->
				
				<form action="#" th:action="@{/ListPeople/Person}" method="post">
					<input type="hidden" name="personId" th:value = "${personId==null}?'':${{person.getId()}}"/> 
				<!--<fmt:formatDate pattern="MM/dd/yyy" value="${person.birthday}" var="birthday"/>
				<fmt:formatDate pattern="MM/dd/yyy" value="${person.date_hired}" var="date_hired"/>-->
				<div class="column column-6" align="center">
					<fieldset style="padding:1%">
						<legend>Full Name:</legend>
						<table>
							<div>
								<tr>
									<td>
										<span class="required">*</span>First Name:
									</td>
									<td>
										<input type="text" name="firstName" th:value="${name==''}?'':${name.person_first_name}"/>
									</td>
								</tr>
								
								<tr>
									<td>
										<span class="required">*</span>Middle Name:
									</td>
									<td>
										<input type="text" name="middleName" th:value="${name==''}?'':${name.person_middle_name}"/>
									</td>
								</tr>
								<tr>
									<td>
										<span class="required">*</span>Last Name:
									</td>
									<td>
										<input type="text" name="lastName" th:value="${name==''}?'':${name.person_last_name}"/>
									</td>
								</tr>
								<tr>
									<td>
										Suffix:
									</td>
									<td>
										<input type="text" name="suffix" th:value="${name==''}?'':${name.person_suffix}"/>
									</td>
								</tr>
								<tr>
									<td>
										Title:
									</td>
									<td>
										<input type="text" name="title" th:value="${name==''}?'':${name.person_title}"/>							
									</td>
								</tr>
							
							</div>
						</table>
					</fieldset>
				</div>
				
				<div class="column column-6" align="center">
					<fieldset style="padding:1%">
						<legend>Other Information:</legend>
						<table>
							<div>
								<tr>
									<td>
										<span class="required">*</span>Birthday
									</td>
									<td >
										<span th:if="${person!=null}" >
											<span th:with="birthday=${person.getBirthday()==null}?null: ${person.getBirthday()}">
											<input type="text" name="birthday" th:value="${birthday==null}?'':${#dates.format(birthday, 'MM/dd/yyyy')}" placeholder="12/30/1900"/>
											</span>
										</span>
										<span th:if="${person==null}" >
											<input type="text" name="birthday" th:value="''" placeholder="12/30/1900"/>
										</span>
									</td>
								</tr>
								
								<tr th:if="${person!=null}">
									<td>
										<span class="required">*</span>Employed:
									</td>
									<td >
										<span th:if="${person.getEmployed()}">
											<input type="radio" name="employed" value="yes" checked="true"/> Yes
											<input type="radio" name="employed" value="no" /> Not Employed
										</span>
										<span th:unless="${person.getEmployed()}">
											<input type="radio" name="employed" value="yes" /> Yes
											<input type="radio" name="employed" value="no" checked="true"/> Not Employed
										</span>
									</td>
								</tr>
								<tr th:unless="${person!=null}">
									<td>
										<span class="required">*</span>Employed:
									</td>
									<td>
										<input type="radio" name="employed" value="yes" /> Yes
										<input type="radio" name="employed" value="no" checked="true"/> Not Employed
									</td>
								</tr>
								<tr th:with="dateHired=${person!=null}? ${person.getDate_hired()} : ''">
									<td>
										Date Hired:
									</td>
									<td >
										<span th:if="${person!=null}">
											
											<input type="text" name="dateHired" th:value="${person.getDate_hired()!=null}?${#dates.format(dateHired, 'MM/dd/yyyy')}:''" placeholder="12/30/1900"/>
											<span class="required">*(if employed)</span>
										</span>
										<span th:unless="${person!=null}">
											<input type="text" name="dateHired" th:value="''" placeholder="12/30/1900"/>
											<span class="required">*(if employed)</span>
										</span>
									</td>
								</tr>
								<tr>
									<td>
										Roles:
									</td>
									<td>
									<!--
										<c:set var="devChecked" value=""/>
										<c:set var="qaChecked" value=""/>
										<c:set var="baChecked" value=""/>
										
										<c:forEach var="role" items="${person.roles}">
											<c:if test="${role.role_type.equals('dev')}">
												<c:set var="devChecked" value="checked"/>
											</c:if>
											<c:if test="${role.role_type.equals('ba')}">
												<c:set var="baChecked" value="checked"/>
											</c:if>
											<c:if test="${role.role_type.equals('qa')}">
												<c:set var="qaChecked" value="checked"/>
											</c:if>
										</c:forEach> -->
										<!--<input type="checkbox" name="role" value="dev" th:checked="${role.getRole_type().equals('dev')}? 'checked' "/>
										Developer:<br/>
										<input type="checkbox" name="role" value="qa" th:checked="${role.getRole_type().equals('qa')}? 'checked' "/>
										Quality Assurance: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="required">*(if employed)</span><br/>
										<input type="checkbox" name="role" value="ba" th:checked="${role.getRole_type().equals('ba')}? 'checked' "/>
										Business Analyst:
										
										
										${__${role}__.equals(__${role}____'Type'__)}
										-->
										<div th:each="role:${roles}">
											<input type="checkbox" name="role" th:value="${role}" th:checked="${__${role}____'Type'__==(role)}? 'checked' "/>
											<span th:switch="${role}">
												<span th:case="'dev'">Developer</span>
												<span th:case="'qa'">Quality Assurance</span>
												<span th:case="'ba'">Business Analyst</span>
											</span>
											<br/>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<span class="required">*</span>GWA:
									</td>
									<td>
										<input type="text" name="gwa" th:value="${person==null}?'':${{person.person_GWA}}"/>
									</td>
								</tr>
								<tr>
									<td>
										Gender:
									</td>
									<td th:if="${person!=null}">
										<!--
										<c:set var="isMale" value=""/>
										<c:set var="isFeMale" value=""/>
										<c:choose>
											<c:when test="${person.gender.toString().equals('FEMALE')}">
												<c:set var="isMale" value=""/>
												<c:set var="isFeMale" value="checked"/>
											</c:when>
											<c:otherwise>
												<c:set var="isMale" value="checked"/>
												<c:set var="isFeMale" value=""/>
											</c:otherwise>
										</c:choose> -->
										<input type="radio" name="gender" value="male" th:checked="${person.gender.toString().equals('MALE')}? 'checked'"/>
										 Male 
										<input type="radio" name="gender" value="female" th:checked="${person.gender.toString().equals('FEMALE')}? 'checked'"/> Female
									</td>
									<td th:if="${person==null}">
										<input type="radio" name="gender" value="male" checked="checked"/>
										 Male 
										<input type="radio" name="gender" value="female" /> Female
									</td>
								</tr>
							</div>
						</table>
					</fieldset>
				</div>
				
				<div class="column column-6" align="center">
					<fieldset style="padding:1%">
						<legend>Address:</legend>
						<table>
							<div>
								<tr>
									<td>
										<span class="required">*</span>Street Number:
									</td>
									<td>
										<input type="text" name="streetNumber" th:value="${address==''}?'':${address.address_street_number}"/>
									</td>
								</tr>
								<tr>
									<td>
										<span class="required">*</span>Barangay:
									</td>
									<td>
										<input type="text" name="barangay" th:value="${address==''}?'':${address.address_barangay}"/>
									</td>
								</tr>
								<tr>
									<td>
										<span class="required">*</span>City:
									</td>
									<td>
										<input type="text" name="city" th:value="${address==''}?'':${address.address_city}"/>
									</td>
								</tr>
								<tr>
									<td>
										<span class="required">*</span>Zipcode:
									</td>
									<td>
										<input type="text" name="zipcode" th:value="${address==''}?'':${address.address_zipcode}"/>
									</td>
								</tr>
							</div>
						</table>
					</fieldset>
				</div>
				
				
				<div class="column column-6" align="center">
					<fieldset style="padding:1%">
						<legend>Contact:</legend>
						<table>
							<div>
								<div th:each="contact:${contactList}">
								<tr>
									<td>
										<input type="checkbox" th:onclick="'document.getElementById(\'' + ${contact} + '\').disabled=!this.checked;'" name="contacts" th:value="${contact}"  th:checked="${__${contact}____'Checked'__}?'checked'"/>
									</td>
									<td>
										<span th:switch="${contact}">
											<span th:case="'email'">E-mail:</span>
											<span th:case="'mobile'">Mobile:</span>
											<span th:case="'landline'">LandLine:</span>
										</span>
									</td>
									<td>
										<input type="hidden" th:name="${contact +'Id'}" th:value="${__${contact}____'Checked'__} ? ${__${contact}____'Id'__}"/>
										<input type="text" th:id="${contact}" th:name="${contact}"  th:value="${__${contact}____'Checked'__} ? ${__${contact}____'Value'__}"/>
									</td>
								</tr>
								</div>
								<!--
								<tr>
									<td>
										<input type="checkbox" onclick="document.getElementById('email').disabled=!this.checked;" name="contacts" value="email"  th:checked="${emailChecked}?'checked'"/>
									</td>
									<td>
										E-mail:
									</td>
									<td>
										<input type="hidden" name="emailId" th:value="${emailChecked} ? ${emailId}"/>
										<input type="text" name="email" id = "email"  th:value="${emailChecked} ? ${emailValue}"/>
									</td>
								</tr>
								<tr>
									<td>
										<input type="checkbox" onclick="document.getElementById('mobile').disabled=!this.checked;" name="contacts" value="mobile"  th:checked="${mobileChecked}?'checked'"/>
									</td>
									<td>
										Mobile:
									</td>
									<td>
										<input type="hidden" name="mobileId" th:value="${mobileChecked} ? ${mobileId}"/>
										<input type="text" name="mobile" id = "mobile"  th:value="${mobileChecked} ? ${mobileValue}"/>
									</td>
								</tr>
								<tr>
									<td>
										<input type="checkbox" onclick="document.getElementById('landline').disabled=!this.checked;" name="contacts" value="landline"  th:checked="${landlineChecked}?'checked'"/>
									</td>
									<td>
										E-mail:
									</td>
									<td>
										<input type="hidden" name="landlineId" th:value="${landlineChecked} ? ${landlineId}"/>
										<input type="text" name="landline" id = "landline"  th:value="${landlineChecked} ? ${landlineValue}"/>
									</td>
								</tr>
								-->
							</div>
						</table>
					</fieldset>
				</div>
				<div align = "center" th:with="action=${personId==null}?false:true">
					
					<span th:if="${action}">
						<input type="submit" name="action" value="save" align= "center"/>
					</span>
					<span th:unless="${action}">
						<input type="submit" name="action" value="update" align= "center"/>
					</span>
				</div>
				</form>
				<div align = "center">
				<form action="#" th:action="@{/ListPeople}" method="get">
				 <input type="submit" value="cancel" align= "center"/>
				</form>
				</div>
				
			</div>
			
		</div>
		
		<style>
			.required{
			color:red;
		}
		</style>
	</body>
</html>